<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.giaodientrangchu">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/hepat"
        android:label="Hepat"
        android:supportsRtl="true"
        android:theme="@style/Theme.GiaodienTrangChu.NoActionBar">
        <activity
            android:name=".Activity_QR"
            android:exported="true" />
        <activity
            android:name=".Lichsukham"
            android:exported="false" />
        <activity
            android:name=".Navigation"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:hardwareAccelerated="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity_Binhluan"
            android:exported="true" />
        <activity
            android:name="com.example.banner.banner0"
            android:exported="true" />
        <activity
            android:name="com.example.banner.banner1"
            android:exported="true" />
        <activity
            android:name="com.example.banner.banner2"
            android:exported="true" />
        <activity
            android:name="com.example.banner.banner3"
            android:exported="true" />
        <activity
            android:name=".ThongBaoUongThuoc"
            android:exported="true" />
        <activity
            android:name=".thongtincanhan"
            android:exported="true" />
        <activity
            android:name=".capnhatthongtin"
            android:exported="true" />
        <activity
            android:name=".activity_verifyotp"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity_tu_van"
            android:exported="true" />
        <activity
            android:name=".Login_Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">

        </activity>
        <activity
            android:name=".Booking_Activity"
            android:exported="true" />
        <activity
            android:name=".ThongBao_Activity"
            android:exported="true" />
        <activity
            android:name=".thongtinBooking"
            android:exported="true" />
        <activity
            android:name=".HoSo_Activity"
            android:exported="false" />
        <activity
            android:name=".DatLich2_Activity"
            android:exported="true" />
        <activity
            android:name=".DienDan"
            android:exported="true" />
        <activity
            android:name=".ChinhSuaLK"
            android:exported="true" />
        <activity
            android:name=".LichKham"
            android:exported="true" />
        <activity
            android:name=".TrangUser"
            android:exported="true"
            android:hardwareAccelerated="false" />
        <activity
            android:name=".GioithieuveHepat"
            android:exported="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>